#root {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100dvh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav a:hover {
  color: #f80000;
}

.user-filter > * {
  padding: 8px;
  cursor: pointer;
  border: 1px solid #e7e5e4;
  border-radius: 4px;
}

.user-filter li:hover > * {
  color: #f80000;
}
